#login {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width: 100%;
    height: auto;
    background: url("../image/img-2.jpg") center center;
    background-size:cover;
}



#img-logo {

    width:10em;
    height: 10em;
}

#receiverName {
    width: 60%;
}

textarea {
    width: 60%;
}

img.responsive-img {
    margin-left: 7rem;
    margin-top: 3rem;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    border-bottom: none;
    border-top: 1px rgb(216, 210, 210) solid;
    margin-left: 5rem;
    margin-top: 1rem;
}
