#login {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width: 100%;
    height: auto;
    background: url("../image/img-2.jpg") center center;
    background-size:cover;
    -webkit-filter: opacity(.6);
    filter: opacity(.6);
}



#img-logo {

    width:10em;
    height: 10em;
}

#receiverName {
    width: 60%;
}

textarea {
    width: 60%;
}

