#login {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    /* width: 100%;
    height: auto; */
    background: url("../image/img-2.jpg") center center;
    background-size:cover;
    /* -webkit-filter: opacity(.6); */
    /* filter:brightness(0.7); */
    opacity: 0.8;
} 



/* #img-logo {

    width:10em;
    height: 10em;
}

#receiverName {
    width: 60%;
}

textarea {
    width: 60%;
}
#titulo{
    width: 50% !important;
} */

.inputs{
    margin-top: 2em;
    width: 20%
}
@media (min-width: 1281px) {
    .inputs{
        width: 16.5%
        
    }
    
  }
@media (min-width: 1024px) and (max-width: 1280px) {
    .inputs{
        width: 22%
        
    }

  }

@media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
    .inputs{
        width: 30%
    }
  }

@media (min-width: 425px) and (max-width: 767px) {
    .inputs{
        width: 51%
    }
    
    
  }
  
@media (min-width: 320px) and (max-width: 424px) {
    .inputs{
        width: 60%
    }
    
    
  }
@media (max-width: 320px) {
    .inputs{
        width: 71%
    }}

.input-field ::placeholder {
    font-size: 12px;
    padding-left: 1em;
    color: black;

}
.input-field{
    margin: 0%;
 border:1em;
background-color: aliceblue;   
}
.logoInicio{
    height: 9em !important;
}
.entradaYregistro{
    margin-top: 3em !important;
}
.lisLogin{
    list-style: none;
}
.btnEntrar{
    background-color: #55BECC;
    width: 100%;
}