
/* #login{
    display: block;
} */
/* #chat{
    display: none;
} */

 /* #regulariz, #carousel, #chat-btn, #botones, #welcomUser, #chat, .chatZone, #btnSection{
    display: none;
} */
#regulariz, #carousel, #chat-btn, #botones, #welcomUser, #chat, .chatZone, #btnSection{
    display: none;
}



.bienvenido{
    display: block;
}

#chat {
    display: none;
}

#chat_window{
    display: none;
 
} 
html, body {
    margin: 0;
}


.colorNav{
    background-color: #55becc;
}

#navLogo {
    width: 1.5em;
    height: 1.5em;
    margin-left: 10px;
}
.colorBotones{
    background-color: #55becc;
    height: 8em;
    width: 12em;
    font-size: 10px;
    line-height: 20px;
    padding: 13px;
}
.botonesReg{
    margin-top: 3em;
}
/* .loginPage{
    display: none;
}  */


.colorTexto{
    color: black;
}

.botonSlider{

background-color: #55becc !important;
}
.tamañoTextslidr{
    font-size: 35px
}
.imglogo{
    margin-left: 8rem !important;
}
.marginREGeIRR{
    margin: 3em;
}
