#regulariz{
    display: none;
}
#login{
    display: none;
}
#welcomeUser{
    display: none;
}
/* #botones{
    display: none;

} */
/* #carrousel{
    display: none;
} */
/* nav{
    display: none;
} */

#chat{
    display: none;
 
}
.colorNav{
    background-color: #55becc;
}
.bienvenido{
display: block;
}

.imgSlider{
    opacity: 60% !important;
}